<h1>{{lliga}}</h1>

<table border="1">
    <tr>
        <th>Posicio</th>
        <th>Equip</th>
        <th>Punts</th>
        <th>Victòries</th>
        <th>Derrotes</th>
        <th>Empats</th>
        <th>Gols a favor</th>
        <th>Gols en contra</th>
    </tr>
    {% for equip in classificacio %}
        <tr>
            <td>{{forloop.counter}}º</td>
            <td>{{equip.equip}}</td>
            <td>{{equip.punts}}</td>
            <td>{{equip.victories}}</td>
            <td>{{equip.derrotes}}</td>
            <td>{{equip.empats}}</td>
            <td>{{equip.gols_local}}</td>
            <td>{{equip.gols_visitant}}</td>
        </tr>
        <!-- <li>{{equip.1}} ({{equip.0}} punts)</li> -->
    {% endfor %}
</table>